<section id="skills" class="section">
    <div class="container section-wrapper">
        <div class="section-content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="section-title">Skills & Expertise</h2>

                    <p class="section-subtitle">A winner is someone who recognizes his God-given talents, works his tail off to develop them into skills, and uses these skills to accomplish his goals.</p>

                    <span class="divider center"></span>
                </div>
                <!-- //.col-md-8 -->
            </div>
            <!-- //.row -->

            <!-- CIRCLE CHART START -->
            <div class="circle-chart">
                <div class="row">
                    {% for s in skills %}
                        <div class="col-sm-4 col-md-2">
                            <div class="item">
                                <div class="circle">
                                    <span class="item-progress" data-percent="{{ s.level }}"></span>
                                </div>
                                <!-- //.circle -->

                                <span class="percent">{{ s.level }}%</span>

                                <h4>{{ s.name }}</h4>
                            </div>
                            <!-- //.item -->
                        </div>
                    {% endfor %}
                </div>
                <!-- //.row -->
            </div>
            <!-- //CIRCLE CHART END -->
        </div>
        <!-- //.section-content -->
    </div>
    <!-- //.container -->
</section>