<section id="work-process" class="section">
    <div class="container section-wrapper">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-title">Work Process</h2>

                    <p class="section-subtitle">
                        As a human being, I'm work in process.
                    </p>

                    <span class="divider center"></span>
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->

            <div class="row">
                <div class="col-md-12">
                    <p class="text-grey text-justify">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->

            <!-- WORK PROCESS START -->
            <div class="work-process">
                <div class="row">
                    {% for p in processes %}
                        <div class="col-sm-2 col-md-2 item {% if p.id % 2 != 0 %}no-margin{% endif %} {% if processes|first %}first{% elseif processes|last %}last{% endif %}">
                            <div class="inner-content">
                                <i class="icon-Light-Bulb2"></i>

                                <span class="title">{{ p.position }}. {{ p.label }}</span>

                                <span class="dot"></span>
                            </div>
                            <!-- //.inner-content -->

                            <i class="icon-Arrow icon-Down-3"></i>
                        </div>
                    {% endfor %}
                </div>
                <!-- //.row -->
            </div>
            <!-- //WORK PROCESS END -->

            <div class="row">
                <div class="col-md-12">
                    <p class="text-grey text-justify">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->
        </div>
        <!-- //.section-content -->
    </div>
    <!-- //.container -->
</section>